# <center><u>**`Data Cleaning`**</u></center>

 Data cleaning is a part of the process on a data science project.
 
Data cleaning is the `process of fixing or removing incorrect, corrupted, incorrectly formatted, duplicate, or incomplete data `within a dataset.
<br>
When you clean your data, all outdated or incorrect information is gone – leaving you with the highest quality information for your analysis and model building.

<p style='text-align: right;'> 4 points</p>

In [ ]:
# ignore this code for now
from IPython.display import YouTubeVideo

YouTubeVideo('https://www.youtube.com/watch?v=XvNCSpIE9PE&list=PLsR_0x6BuM-F4Z72h5D1bjWEASL0_JlrF&index=4',width=600,height=300)

In [ ]:
# import pandas and numpy with alias pd and np respectively
import pandas as pd
import numpy as np

Create a dataframe, d1 = pd.DataFrame( {‘Temperature’ : [1, np.nan, 3, 2, 3] ,’Humidity’ : [22, np.nan, 2 , np.nan, 20 ] })

In [ ]:
#create d1
d1 = pd.DataFrame({'Temperature':[1,np.nan,3,2,3], 'Humidity':[22,np.nan,2,np.nan,20]})

print the dataframe d1

In [ ]:
#print d1
d1

   Temperature  Humidity
0          1.0      22.0
1          NaN       NaN
2          3.0       2.0
3          2.0       NaN
4          3.0      20.0

In [ ]:
YouTubeVideo('https://www.youtube.com/watch?v=7Q_KoX3vAZ8&list=PLsR_0x6BuM-F4Z72h5D1bjWEASL0_JlrF&index=3',width=600,height=300)

Find whether the given dataframe contain any missing values?

In [ ]:
#check for null
d1.isnull()

   Temperature  Humidity
0        False     False
1         True      True
2        False     False
3        False      True
4        False     False

How many missing values does each column have?

In [ ]:
#total null
d1.isnull().sum()

Temperature    1
Humidity       2
dtype: int64

In [ ]:
YouTubeVideo('https://www.youtube.com/watch?v=C0hO3FiYxlk&list=PLsR_0x6BuM-F4Z72h5D1bjWEASL0_JlrF&index=2',width=600,height=300)

## **`Dealing with missing values`**
<br>Now, we know we have missing values, the next thing that we need to work on, is how to deal with these missing values

In [ ]:
YouTubeVideo('https://www.youtube.com/watch?v=p-w5QbfWpHU&list=PLsR_0x6BuM-F4Z72h5D1bjWEASL0_JlrF&index=1',width=600,height=300)

## **`Method 1: Delete the rows which contain missing values.`**
 This method include dropping all the rows that have missing value in any column.

 <p style='text-align: right;'> 20 points</p>

Use a suitable method to drop all the rows having missing values and save the change in d2 variable

In [ ]:
#drop nan
d2 = d1.dropna()

Print d2

In [ ]:
#print nan
d2

   Temperature  Humidity
0          1.0      22.0
2          3.0       2.0
4          3.0      20.0

Hey Remember : droping rows with nan is one of the method to deal with missing values. But you have to decide if you need to go for this method by checking percentage of nan present in the dataframe.

If a column is having more than 60% of nan values then its better to remove such variables altogether if business permits

- ## **`Method 2: Replacing missing values`**
Sometimes rather than dropping NA values, you'd rather replace them with a valid value. This value might be a single number like zero, or it might be some sort of imputation or interpolation

<p style='text-align: right;'> 30 points</p>

Impute the missing values with constant number of your choice

In [ ]:
# The below output has imputed missing  values with 100

d3 = d1.fillna(100)
d3

   Temperature  Humidity
0          1.0      22.0
1        100.0     100.0
2          3.0       2.0
3          2.0     100.0
4          3.0      20.0

Do you think its a  good way to treat Nan values? What if such constant values are not suitable for our further analysis?
Try to give your thoughts on this.

In [ ]:
#No, its not a good way to treat a Nan values. Temperature 100 and Humidity 100 does not make any sense.

Impute the missing values with mean

In [ ]:
#  imputing mean
d4 = d1.fillna(d1.mean())
d4

   Temperature   Humidity
0         1.00  22.000000
1         2.25  14.666667
2         3.00   2.000000
3         2.00  14.666667
4         3.00  20.000000

Impute the missing values with median

In [ ]:
#median imputing
d5 = d1.fillna(d1.median())
d5

   Temperature  Humidity
0          1.0      22.0
1          2.5      20.0
2          3.0       2.0
3          2.0      20.0
4          3.0      20.0

Replacing with the mean, mode or median approximations are a statistical approach of handling the missing values.

Another Fun fact:
    
    This is an approximation which can add variance to the data set. But the loss of the data can be negated by this method which yields better results compared to removal of rows and columns.

Impute Nan with forward fill

In [ ]:
#forward fill
d6 = d1.fillna(d1.ffill())
d6

   Temperature  Humidity
0          1.0      22.0
1          1.0      22.0
2          3.0       2.0
3          2.0       2.0
4          3.0      20.0

Impute Nan with backward fill

In [ ]:
#backward fill
d7 = d1.fillna(d1.bfill())
d7

   Temperature  Humidity
0          1.0      22.0
1          3.0       2.0
2          3.0       2.0
3          2.0      20.0
4          3.0      20.0

Hey a fun fact here, as sweet as a cookie:

- ffill/pad/bfill are good imputation method if our data is of time series. This would keep the trend unaffected for our analysis.

Impute nan using interpolation method

In [ ]:
#interpolate
d8 = d1.interpolate()
d8

   Temperature  Humidity
0          1.0      22.0
1          2.0      12.0
2          3.0       2.0
3          2.0      11.0
4          3.0      20.0

You lucky champ! you got to know another amazing fact:
 - Interpolation method by default is linear in nature. It is an imputation technique that assumes a linear relationship between data points and utilises non-missing values from adjacent data points to compute a value for a missing data point.


You can explore other techniques involved in interplolation method, which might be usefull for your project.

Perform KNN imputation

In [ ]:
# Hint: Import KNNImputer and impute it on d1. Also note: Use n_neighbors=2
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
d9 = pd.DataFrame(imputer.fit_transform(d1))

In [ ]:
d9.isna().any()

0    False
1    False
dtype: bool

Point to ponder: KNN is an algorithm that is useful for matching a point with its closest k neighbors in a multi-dimensional space.

Do you think scaling is required to implement this method?. Yes you are right the answer is YES.
Can you comment below why normalized data is required, so that we understand your logic on this.

It requires us to normalize our data. Otherwise, the different scales of our data will lead the KNN Imputer to generate biased replacements for the missing values.

## **`Dropping Irrelevant Columns`**

<p style='text-align: right;'> 5 points</p>

Create a dataframe df = pd.DataFrame(np.random.randint(0,100,size=(100, 5)), columns=list('ABCDE'))

In [ ]:
np.random.seed(10)

df = pd.DataFrame(np.random.randint(0,100,size=(100,5)),columns=list('ABCDE'))

print df

In [ ]:
print (df)

     A   B   C   D   E
0    9  15  64  28  89
1   93  29   8  73   0
2   40  36  16  11  54
3   88  62  33  72  78
4   49  51  54  77  69
..  ..  ..  ..  ..  ..
95   3  50  59  34  21
96  16  18  61  54  60
97  21  87  83  71  16
98  67  38  27  96  87
99  98  89  16  82  19

[100 rows x 5 columns]

Note: Since all the rows are having random numbers, your dataframe observations might be different than the output given above

Suppose for our analysis our project do not require column E. So you need to remove this column. update this new change using inplace parameter

In [ ]:
#drop E
df = df.drop(['E'], axis=1)

Check if column **E** is removed by printing head of df

In [ ]:
#df head
df.head()

    A   B   C   D
0   9  15  64  28
1  93  29   8  73
2  40  36  16  11
3  88  62  33  72
4  49  51  54  77

### `Ensure requirements as per domain`

<p style='text-align: right;'> 10 points</p>

In [ ]:
YouTubeVideo('https://www.youtube.com/watch?v=Y230Di2SSz8&list=PLsR_0x6BuM-F4Z72h5D1bjWEASL0_JlrF&index=5',width=600,height=300)


Shallow copy the dataframe df in variable df2 and print df2 head

In [ ]:
df2 = df 

#df2 head
df2.head()

    A   B   C   D
0   9  15  64  28
1  93  29   8  73
2  40  36  16  11
3  88  62  33  72
4  49  51  54  77

Suppose your domain expert says to filter column B with even numbers to do correct analysis. Implement the same below and update the change in varaible df2.

In [ ]:
df2=df2[df2['B'] % 2 == 0]

print updated head of *df2*

In [ ]:
# df2 head
df2.head()

     A   B   C   D
2   40  36  16  11
3   88  62  33  72
6   30  30  89  12
9   11  28  74  88
10  15  18  80  71

### `Creating a sensible index values`

Oops. The index in this dataframe doesn't make sense. please correct index in a sequential manner starting from 1. Save the updates in df2

In [ ]:
#set proper index
df3 = df2.reset_index(drop=True)

print df2 head again

In [ ]:
df3.head()

    A   B   C   D
0  40  36  16  11
1  88  62  33  72
2  30  30  89  12
3  11  28  74  88
4  15  18  80  71

In [ ]:
df3.head()

    A   B   C   D
0  40  36  16  11
1  88  62  33  72
2  30  30  89  12
3  11  28  74  88
4  15  18  80  71

## **`Renaming column names to meaningful names.`**

<p style='text-align: right;'> 2 points</p>

Now df2 columns represents marks of the adventurous 'Anand', the brave 'Barkha', the compassionate 'Chandu' and the dashing 'Daniel'. Rename the columns with their name inplace of their first letter of their name.

In [ ]:
#column renaming
df3.columns = ['Anand','Barkha','Chandu','Daniel']

print df2 tail with updated column names

In [ ]:
# df2 head
df3.tail()

    Anand  Barkha  Chandu  Daniel
43      1      82      34      11
44     74      36       6      63
45      3      50      59      34
46     16      18      61      54
47     67      38      27      96

Yeah! now the data looks pretty meaningful to study

## **`Treating Duplicate Data`**

<p style='text-align: right;'> 20 points</p>

Make another dataframe df3 by deep copying df2.

In [ ]:
df4 = df3.copy()

Make another column in df3 with name 'dummy' having 0 as values
throughout the rows.

In [ ]:
#assign dummy column full of zero value
dummy = 0
df4['dummy'] = dummy

In [ ]:
# print head of df, df2 and df3
print(df.head())
print(df3.head())
print(df4.head())

    A   B   C   D
0   9  15  64  28
1  93  29   8  73
2  40  36  16  11
3  88  62  33  72
4  49  51  54  77
   Anand  Barkha  Chandu  Daniel
0     40      36      16      11
1     88      62      33      72
2     30      30      89      12
3     11      28      74      88
4     15      18      80      71
   Anand  Barkha  Chandu  Daniel  dummy
0     40      36      16      11      0
1     88      62      33      72      0
2     30      30      89      12      0
3     11      28      74      88      0
4     15      18      80      71      0

Hey buddy! Don't you think, there is some difference between copy operation used for creating df2 and df3.

If you think Yes, Then please comment below the difference

In [ ]:
# comment

print tail of df3

In [ ]:
# df3 tail
df4.tail()

    Anand  Barkha  Chandu  Daniel  dummy
43      1      82      34      11      0
44     74      36       6      63      0
45      3      50      59      34      0
46     16      18      61      54      0
47     67      38      27      96      0

make an array name 'ListB' with values of column 'Barkha'

In [ ]:
listB = df4.Barkha

In [ ]:
listB

In [ ]:
Anonymous = pd.Series(listB)

NameError: ignored

In [ ]:
df4['Anonymous'] = Anonymous

In [ ]:
df5 = df4.drop(df4.iloc[:,0:47], axis=1)

In [ ]:
df5.head()

   Anand  Anonymous  Barkha  Chandu  Daniel  dummy
0   40.0       36.0    36.0    16.0    11.0    0.0
1   88.0       62.0    62.0    33.0    72.0    0.0
2   30.0       30.0    30.0    89.0    12.0    0.0
3   11.0       28.0    28.0    74.0    88.0    0.0
4   15.0       18.0    18.0    80.0    71.0    0.0

Assign this array values as another column in df3 with name 'Anonymous'

Create a dataframe 'ListA' with values of row index 3, 10 and 40

In [ ]:
ListA=df5.iloc[[3,10,40]]

print ListA

In [ ]:
# print ListA
ListA

    Anand  Anonymous  Barkha  Chandu  Daniel  dummy
3    11.0       28.0    28.0    74.0    88.0    0.0
10   88.0       96.0    96.0    73.0    40.0    0.0
40   87.0       68.0    68.0    86.0    14.0    0.0

Concat ListA to df3 ignoring the index values of ListA so that we can maintain the sequential index value thoughout the dataframe.

In [ ]:
df5 = pd.concat([df5,ListA],ignore_index=True)

print head of df3

In [ ]:
# df3 head
df5.head()

   Anand  Anonymous  Barkha  Chandu  Daniel  dummy
0   40.0       36.0    36.0    16.0    11.0    0.0
1   88.0       62.0    62.0    33.0    72.0    0.0
2   30.0       30.0    30.0    89.0    12.0    0.0
3   11.0       28.0    28.0    74.0    88.0    0.0
4   15.0       18.0    18.0    80.0    71.0    0.0

Check if there is any duplicate rows present in the dataframe df3

In [ ]:
#check duplicate
duplicate = df5[df5.duplicated()]
duplicate

    Anand  Anonymous  Barkha  Chandu  Daniel  dummy
49   11.0       28.0    28.0    74.0    88.0    0.0
50   88.0       96.0    96.0    73.0    40.0    0.0
51   87.0       68.0    68.0    86.0    14.0    0.0

By above output it seems we do have duplicated rows in our dataset

Drop duplicated rows using pandas function keeping first values of such duplicated observations

In [ ]:
#drop duplicate
df5 = df5.drop_duplicates()

Check again if we have any duplicate row values present

In [ ]:
#check duplicate
df5.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
dtype: bool

Yipeee!! Did you notice the dataframe is free from any duplicate rows now.

Drop any duplicate columns present in the dataframe df

In [ ]:
df5.head()

   Anand  Anonymous  Barkha  Chandu  Daniel  dummy
0   40.0       36.0    36.0    16.0    11.0    0.0
1   88.0       62.0    62.0    33.0    72.0    0.0
2   30.0       30.0    30.0    89.0    12.0    0.0
3   11.0       28.0    28.0    74.0    88.0    0.0
4   15.0       18.0    18.0    80.0    71.0    0.0

In [ ]:
df5 = df5.drop(['Anonymous'], axis=1)

#print df3

In [ ]:
df5.head()

   Anand  Barkha  Chandu  Daniel  dummy
0   40.0    36.0    16.0    11.0    0.0
1   88.0    62.0    33.0    72.0    0.0
2   30.0    30.0    89.0    12.0    0.0
3   11.0    28.0    74.0    88.0    0.0
4   15.0    18.0    80.0    71.0    0.0

Did you notice which Column is dropped?
I am sure you noticed it.
Name that column below

In [ ]:
#Column:Anonymous

### `Treating constant column values`

<p style='text-align: right;'> 2 points</p>

Check unique values in each columns

In [ ]:
# df3 unique value
df5.nunique()

Anand     42
Barkha    32
Chandu    40
Daniel    36
dummy      1
dtype: int64

By above output which column has only 1 value as unique throught the rows? 
Yeah! you are right, its dummy column.
So lets drop it

Drop dummy column as it has constant values which will not give us any information and save the changes to df3 using inplace parameter

In [ ]:
# drop dummy
df5.drop(['dummy'], inplace=True, axis=1)

print final obtained dataframe df3

In [ ]:
# print df3
df5

### `Iterating dataframes`
<p style='text-align: right;'> 25 points </p>


Let's look at three main ways to iterate over DataFrames.

1. iteritems()
2. iterrows()
3. itertuples()

We will also see time taken by these methods to print our dataframe. 

**1. Iterating DataFrames with iteritems()**

Lets iterate over rows of df3 uisng iteritems.

In [ ]:
YouTubeVideo('https://www.youtube.com/watch?v=rl3Nk-IxXV4&list=PLsR_0x6BuM-F4Z72h5D1bjWEASL0_JlrF&index=6',width=600,height=300)

In [ ]:
import time
start = time.time()

#Use iteritems to iterate
for columns_name,column_data in df5.iteritems():
  print(columns_name,column_data)


print('Time taken(sec): ',(time.time()-start)*1000)

Anand 0     40.0
1     88.0
2     30.0
3     11.0
4     15.0
5     88.0
6     77.0
7     97.0
8     81.0
9     96.0
10    88.0
11    28.0
12    33.0
13    68.0
14     9.0
15    62.0
16    32.0
17    45.0
18     6.0
19    44.0
20    39.0
21    69.0
22     5.0
23     4.0
24    10.0
25    85.0
26    31.0
27     0.0
28     2.0
29    63.0
30    19.0
31    58.0
32     7.0
33    27.0
34    27.0
35    99.0
36    84.0
37    77.0
38    82.0
39    74.0
40    87.0
41    50.0
42     1.0
43     1.0
44    74.0
45     3.0
46    16.0
47    67.0
48     NaN
Name: Anand, dtype: float64
Barkha 0     36.0
1     62.0
2     30.0
3     28.0
4     18.0
5     50.0
6     88.0
7     50.0
8     80.0
9     66.0
10    96.0
11    30.0
12     4.0
13    30.0
14     2.0
15    42.0
16    94.0
17    18.0
18    44.0
19    68.0
20    58.0
21    48.0
22    70.0
23    22.0
24    36.0
25    32.0
26    32.0
27    96.0
28    30.0
29    86.0
30     0.0
31    76.0
32    88.0
33    64.0
34    52.0
35    46.0
36    20.0
37    66.0
38    56.0
39     8.0
40    68.0
41    50.0
42    28.0
43    82.0
44    36.0
45    50.0
46    18.0
47    38.0
48     NaN
Name: Barkha, dtype: float64
Chandu 0     16.0
1     33.0
2     89.0
3     74.0
4     80.0
5     54.0
6     15.0
7     45.0
8     41.0
9     67.0
10    73.0
11    89.0
12    87.0
13    70.0
14    65.0
15    34.0
16    86.0
17    50.0
18     9.0
19    14.0
20    81.0
21    60.0
22    61.0
23    19.0
24     0.0
25    81.0
26    96.0
27    25.0
28    17.0
29    29.0
30     7.0
31    10.0
32    96.0
33    49.0
34    90.0
35    46.0
36    49.0
37    37.0
38    41.0
39    92.0
40    86.0
41    85.0
42    58.0
43    34.0
44     6.0
45    59.0
46    61.0
47    27.0
48     NaN
Name: Chandu, dtype: float64
Daniel 0     11.0
1     72.0
2     12.0
3     88.0
4     71.0
5     34.0
6      6.0
7     40.0
8     90.0
9     62.0
10    40.0
11    25.0
12    94.0
13    74.0
14    13.0
15    40.0
16    58.0
17    44.0
18    50.0
19     4.0
20    39.0
21    58.0
22    16.0
23    85.0
24    30.0
25    13.0
26    38.0
27    63.0
28    59.0
29    71.0
30    93.0
31    79.0
32    38.0
33    90.0
34    57.0
35    45.0
36    33.0
37    31.0
38    90.0
39    32.0
40    14.0
41    14.0
42    10.0
43    11.0
44    63.0
45    34.0
46    54.0
47    96.0
48     NaN
Name: Daniel, dtype: float64
Time taken(sec):  25.8023738861084

Did you notice buddy how iteritems are iterating over df3.

Along with ways each iterating function works, also keep tallying the time taken for all other lopps too!. This will be fun, lets check iterrows()

**2. Iterating DataFrames with iterrows()**

In [ ]:
import time
start = time.time()
#Use iterrows to iterate
for row, data_at_row in df5.iterrows():
  print(row,data_at_row)
print('Time taken(sec): ',(time.time()-start)*1000)

0 Anand     40.0
Barkha    36.0
Chandu    16.0
Daniel    11.0
Name: 0, dtype: float64
1 Anand     88.0
Barkha    62.0
Chandu    33.0
Daniel    72.0
Name: 1, dtype: float64
2 Anand     30.0
Barkha    30.0
Chandu    89.0
Daniel    12.0
Name: 2, dtype: float64
3 Anand     11.0
Barkha    28.0
Chandu    74.0
Daniel    88.0
Name: 3, dtype: float64
4 Anand     15.0
Barkha    18.0
Chandu    80.0
Daniel    71.0
Name: 4, dtype: float64
5 Anand     88.0
Barkha    50.0
Chandu    54.0
Daniel    34.0
Name: 5, dtype: float64
6 Anand     77.0
Barkha    88.0
Chandu    15.0
Daniel     6.0
Name: 6, dtype: float64
7 Anand     97.0
Barkha    50.0
Chandu    45.0
Daniel    40.0
Name: 7, dtype: float64
8 Anand     81.0
Barkha    80.0
Chandu    41.0
Daniel    90.0
Name: 8, dtype: float64
9 Anand     96.0
Barkha    66.0
Chandu    67.0
Daniel    62.0
Name: 9, dtype: float64
10 Anand     88.0
Barkha    96.0
Chandu    73.0
Daniel    40.0
Name: 10, dtype: float64
11 Anand     28.0
Barkha    30.0
Chandu    89.0
Daniel    25.0
Name: 11, dtype: float64
12 Anand     33.0
Barkha     4.0
Chandu    87.0
Daniel    94.0
Name: 12, dtype: float64
13 Anand     68.0
Barkha    30.0
Chandu    70.0
Daniel    74.0
Name: 13, dtype: float64
14 Anand      9.0
Barkha     2.0
Chandu    65.0
Daniel    13.0
Name: 14, dtype: float64
15 Anand     62.0
Barkha    42.0
Chandu    34.0
Daniel    40.0
Name: 15, dtype: float64
16 Anand     32.0
Barkha    94.0
Chandu    86.0
Daniel    58.0
Name: 16, dtype: float64
17 Anand     45.0
Barkha    18.0
Chandu    50.0
Daniel    44.0
Name: 17, dtype: float64
18 Anand      6.0
Barkha    44.0
Chandu     9.0
Daniel    50.0
Name: 18, dtype: float64
19 Anand     44.0
Barkha    68.0
Chandu    14.0
Daniel     4.0
Name: 19, dtype: float64
20 Anand     39.0
Barkha    58.0
Chandu    81.0
Daniel    39.0
Name: 20, dtype: float64
21 Anand     69.0
Barkha    48.0
Chandu    60.0
Daniel    58.0
Name: 21, dtype: float64
22 Anand      5.0
Barkha    70.0
Chandu    61.0
Daniel    16.0
Name: 22, dtype: float64
23 Anand      4.0
Barkha    22.0
Chandu    19.0
Daniel    85.0
Name: 23, dtype: float64
24 Anand     10.0
Barkha    36.0
Chandu     0.0
Daniel    30.0
Name: 24, dtype: float64
25 Anand     85.0
Barkha    32.0
Chandu    81.0
Daniel    13.0
Name: 25, dtype: float64
26 Anand     31.0
Barkha    32.0
Chandu    96.0
Daniel    38.0
Name: 26, dtype: float64
27 Anand      0.0
Barkha    96.0
Chandu    25.0
Daniel    63.0
Name: 27, dtype: float64
28 Anand      2.0
Barkha    30.0
Chandu    17.0
Daniel    59.0
Name: 28, dtype: float64
29 Anand     63.0
Barkha    86.0
Chandu    29.0
Daniel    71.0
Name: 29, dtype: float64
30 Anand     19.0
Barkha     0.0
Chandu     7.0
Daniel    93.0
Name: 30, dtype: float64
31 Anand     58.0
Barkha    76.0
Chandu    10.0
Daniel    79.0
Name: 31, dtype: float64
32 Anand      7.0
Barkha    88.0
Chandu    96.0
Daniel    38.0
Name: 32, dtype: float64
33 Anand     27.0
Barkha    64.0
Chandu    49.0
Daniel    90.0
Name: 33, dtype: float64
34 Anand     27.0
Barkha    52.0
Chandu    90.0
Daniel    57.0
Name: 34, dtype: float64
35 Anand     99.0
Barkha    46.0
Chandu    46.0
Daniel    45.0
Name: 35, dtype: float64
36 Anand     84.0
Barkha    20.0
Chandu    49.0
Daniel    33.0
Name: 36, dtype: float64
37 Anand     77.0
Barkha    66.0
Chandu    37.0
Daniel    31.0
Name: 37, dtype: float64
38 Anand     82.0
Barkha    56.0
Chandu    41.0
Daniel    90.0
Name: 38, dtype: float64
39 Anand     74.0
Barkha     8.0
Chandu    92.0
Daniel    32.0
Name: 39, dtype: float64
40 Anand     87.0
Barkha    68.0
Chandu    86.0
Daniel    14.0
Name: 40, dtype: float64
41 Anand     50.0
Barkha    50.0
Chandu    85.0
Daniel    14.0
Name: 41, dtype: float64
42 Anand      1.0
Barkha    28.0
Chandu    58.0
Daniel    10.0
Name: 42, dtype: float64
43 Anand      1.0
Barkha    82.0
Chandu    34.0
Daniel    11.0
Name: 43, dtype: float64
44 Anand     74.0
Barkha    36.0
Chandu     6.0
Daniel    63.0
Name: 44, dtype: float64
45 Anand      3.0
Barkha    50.0
Chandu    59.0
Daniel    34.0
Name: 45, dtype: float64
46 Anand     16.0
Barkha    18.0
Chandu    61.0
Daniel    54.0
Name: 46, dtype: float64
47 Anand     67.0
Barkha    38.0
Chandu    27.0
Daniel    96.0
Name: 47, dtype: float64
48 Anand    NaN
Barkha   NaN
Chandu   NaN
Daniel   NaN
Name: 48, dtype: float64
Time taken(sec):  83.50372314453125

**3. Iterating DataFrames with itertuples()**

In [ ]:
#iterate df3 using itertuples
import time
start = time.time()

#Use itertuples to iterate
for i in df5.itertuples():
  print(i)

print('Time taken(sec): ',(time.time()-start)*1000)

Pandas(Index=0, Anand=40.0, Barkha=36.0, Chandu=16.0, Daniel=11.0)
Pandas(Index=1, Anand=88.0, Barkha=62.0, Chandu=33.0, Daniel=72.0)
Pandas(Index=2, Anand=30.0, Barkha=30.0, Chandu=89.0, Daniel=12.0)
Pandas(Index=3, Anand=11.0, Barkha=28.0, Chandu=74.0, Daniel=88.0)
Pandas(Index=4, Anand=15.0, Barkha=18.0, Chandu=80.0, Daniel=71.0)
Pandas(Index=5, Anand=88.0, Barkha=50.0, Chandu=54.0, Daniel=34.0)
Pandas(Index=6, Anand=77.0, Barkha=88.0, Chandu=15.0, Daniel=6.0)
Pandas(Index=7, Anand=97.0, Barkha=50.0, Chandu=45.0, Daniel=40.0)
Pandas(Index=8, Anand=81.0, Barkha=80.0, Chandu=41.0, Daniel=90.0)
Pandas(Index=9, Anand=96.0, Barkha=66.0, Chandu=67.0, Daniel=62.0)
Pandas(Index=10, Anand=88.0, Barkha=96.0, Chandu=73.0, Daniel=40.0)
Pandas(Index=11, Anand=28.0, Barkha=30.0, Chandu=89.0, Daniel=25.0)
Pandas(Index=12, Anand=33.0, Barkha=4.0, Chandu=87.0, Daniel=94.0)
Pandas(Index=13, Anand=68.0, Barkha=30.0, Chandu=70.0, Daniel=74.0)
Pandas(Index=14, Anand=9.0, Barkha=2.0, Chandu=65.0, Daniel=13.0)
Pandas(Index=15, Anand=62.0, Barkha=42.0, Chandu=34.0, Daniel=40.0)
Pandas(Index=16, Anand=32.0, Barkha=94.0, Chandu=86.0, Daniel=58.0)
Pandas(Index=17, Anand=45.0, Barkha=18.0, Chandu=50.0, Daniel=44.0)
Pandas(Index=18, Anand=6.0, Barkha=44.0, Chandu=9.0, Daniel=50.0)
Pandas(Index=19, Anand=44.0, Barkha=68.0, Chandu=14.0, Daniel=4.0)
Pandas(Index=20, Anand=39.0, Barkha=58.0, Chandu=81.0, Daniel=39.0)
Pandas(Index=21, Anand=69.0, Barkha=48.0, Chandu=60.0, Daniel=58.0)
Pandas(Index=22, Anand=5.0, Barkha=70.0, Chandu=61.0, Daniel=16.0)
Pandas(Index=23, Anand=4.0, Barkha=22.0, Chandu=19.0, Daniel=85.0)
Pandas(Index=24, Anand=10.0, Barkha=36.0, Chandu=0.0, Daniel=30.0)
Pandas(Index=25, Anand=85.0, Barkha=32.0, Chandu=81.0, Daniel=13.0)
Pandas(Index=26, Anand=31.0, Barkha=32.0, Chandu=96.0, Daniel=38.0)
Pandas(Index=27, Anand=0.0, Barkha=96.0, Chandu=25.0, Daniel=63.0)
Pandas(Index=28, Anand=2.0, Barkha=30.0, Chandu=17.0, Daniel=59.0)
Pandas(Index=29, Anand=63.0, Barkha=86.0, Chandu=29.0, Daniel=71.0)
Pandas(Index=30, Anand=19.0, Barkha=0.0, Chandu=7.0, Daniel=93.0)
Pandas(Index=31, Anand=58.0, Barkha=76.0, Chandu=10.0, Daniel=79.0)
Pandas(Index=32, Anand=7.0, Barkha=88.0, Chandu=96.0, Daniel=38.0)
Pandas(Index=33, Anand=27.0, Barkha=64.0, Chandu=49.0, Daniel=90.0)
Pandas(Index=34, Anand=27.0, Barkha=52.0, Chandu=90.0, Daniel=57.0)
Pandas(Index=35, Anand=99.0, Barkha=46.0, Chandu=46.0, Daniel=45.0)
Pandas(Index=36, Anand=84.0, Barkha=20.0, Chandu=49.0, Daniel=33.0)
Pandas(Index=37, Anand=77.0, Barkha=66.0, Chandu=37.0, Daniel=31.0)
Pandas(Index=38, Anand=82.0, Barkha=56.0, Chandu=41.0, Daniel=90.0)
Pandas(Index=39, Anand=74.0, Barkha=8.0, Chandu=92.0, Daniel=32.0)
Pandas(Index=40, Anand=87.0, Barkha=68.0, Chandu=86.0, Daniel=14.0)
Pandas(Index=41, Anand=50.0, Barkha=50.0, Chandu=85.0, Daniel=14.0)
Pandas(Index=42, Anand=1.0, Barkha=28.0, Chandu=58.0, Daniel=10.0)
Pandas(Index=43, Anand=1.0, Barkha=82.0, Chandu=34.0, Daniel=11.0)
Pandas(Index=44, Anand=74.0, Barkha=36.0, Chandu=6.0, Daniel=63.0)
Pandas(Index=45, Anand=3.0, Barkha=50.0, Chandu=59.0, Daniel=34.0)
Pandas(Index=46, Anand=16.0, Barkha=18.0, Chandu=61.0, Daniel=54.0)
Pandas(Index=47, Anand=67.0, Barkha=38.0, Chandu=27.0, Daniel=96.0)
Pandas(Index=48, Anand=nan, Barkha=nan, Chandu=nan, Daniel=nan)
Time taken(sec):  12.401819229125977

Hey buddy! so as you have seen every method works differently 
    
    iteritems(): Helps to iterate over each element of the set, column-wise. 
    iterrows(): Each element of the set, row-wise. 
    itertuple(): Each row and form a tuple out of them.

But if you ask for speed. The most best perfromance is given by itertuples compared to other two iterating methods.
So if anytime you need to save your computation time on iteration of dataframes you can go for itertuples. Was'nt it fun?:)

### `Regular Expression` 
<p style='text-align: right;'> 15 points </p>


Reference: Watch the video below

Reference doc: https://www.guru99.com/python-regular-expressions-complete-tutorial.html

Python has a module named re to work with RegEx


### **!Are you ready to try regex on dataframes?**

*So here we go.!*

We are gonna try out following awesome re module functions

1. findall 
2. search
3. sub
4. split

If you want you can also refer the below regular expression syntax.

![image.png](attachment:image.png)

In [ ]:
YouTubeVideo('YXFZTKlkf-Y',width=600,height=300)

Hey future data scientists! we will now use regex on dataframes for data cleaning.

Who doesn't know Trump?. Lets dowload this interesting dataset of Trump insult tweets :https://www.kaggle.com/ayushggarg/all-trumps-twitter-insults-20152021/download

On this dataset we will learn how to use regex for data cleaning. By the way it will be also very usefull for feature engineering too!.

In [ ]:
#load dataset
tweet_data= pd.read_csv('trump_insult_tweets_2014_to_2021.csv')

In [ ]:
#import re module
import re

#print head of tweet_data
tweet_data.head()

,Unnamed: 0,date,target,insult,tweet
0,1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
3,4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
4,5,2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."

Lets do some analysis using regex on this dataset

Before we go ahead, do you remember apply function? because you will have to require apply function to impliment regex methods.

You can refer video below:
**1. findall()**

Make another column 'year' with year in each row using regex on date column.

In [ ]:
YouTubeVideo('T-b7TxWfrfE',width=600,height=300)

In [ ]:
# create a function which takes date as parameter and applies regex on it
tweet_data['Year'] = tweet_data['date'].str.extract('(\d{4})')


#use apply function on tweet_data to use above function in order to make year column


#print tweet_data head
tweet_data.head()

,Unnamed: 0,date,target,insult,tweet,Year
0,1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ...",2014
1,2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ...",2014
2,3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...,2015
3,4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...,2015
4,5,2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily...",2015

lets filter year from 2020-2021 which was the election time in USA.

**2. search**

We will use regex search for this

In [ ]:
# create a function which takes year as parameter and applies regex on it

    
#use apply function on tweet_data to use above function in order to search tweets of 2020-2021


#tweet_data head

You can also do the same thing using regex match function to do this which is vailable in pandas

Reference: https://www.geeksforgeeks.org/python-pandas-series-str-match/

In [ ]:
# apply pandas str.match() function

cool right!

You got some null values after applying above function. Lets drop them using dropna function. Also drop 'Unnamed: 0' column as it does not give any information.

In [ ]:
#drop na and Unnamed: 0 column

**3. sub() Function**

Now you have filtered the dataset with 2739 rows. Let's remove all @ from tweet column suing re sub() function.

In [ ]:
# create a function which takes tweet as parameter and applies regex on it



#use apply function on tweet_data to use above function in order to remove @ from tweets

#tweet_data head

You can also use the sub function just in one line using list comprehension. Can you try doing it below?

In [ ]:
# sub() suing list comprehension

**4. split() Function**

Lets now split the column target by making another column Name which has name before hyphen("-")

In [ ]:
# create a function which takes target as parameter and applies regex on it


#use apply function on tweet_data to use above function in order to create Name column

#tweet_data head

Now can you filter out Name which are specially targetted for trump? Lets do it below and check how many such tweets are there.

In [ ]:
#filter Name which is euqals to trump

So here you got total of 65 records which were  tweeted on Donald Trump in the span of 2020-2021. 

Well done buddy! You have learned how to apply regex on dataframes. Regex are mostly used for datasets which are having textual information.

Good job!  Now our interesting trump insult tweet data is somewhat cleaned.

---------------------------------

# C'mon cheers:) you have completed the 5th milestone challenge too. 

--------------------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform